@{
    ViewData["Title"] = "Supplier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    :root {
        --bd-dark-blue-bg: rgb(5, 45, 100);
        --bs-white: rgb(255, 255, 255);
    }

    .custom-popover {
        --bs-popover-max-width: 500px;
        --bs-popover-border-color: var(--bd-dark-blue-bg);
        --bs-popover-header-bg: var(--bd-dark-blue-bg);
        --bs-popover-header-color: var(--bs-white);
        --bs-popover-body-padding-x: 20px;
        --bs-popover-body-padding-y: 20px;
    }
</style>

<nav class="mt-2" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Mantenimiento</li>
        <li class="breadcrumb-item active" aria-current="page">Proveedores de Insumos</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <i class="fa-solid fa-book-bookmark"></i> Proveedores de Insumos Registrados
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="Open_Form_Modal(null)">Insertar Proveedor de
                    Insumo <i class="fa-solid fa-plus"></i></button>
            </div>
        </div>

        <hr />

        <table id="Table_Proveedor_Insumo" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>ID:</th>
                    <th>Nombre:</th>
                    <th>Estado:</th>
                    <th>Operaciones:</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!--Vertically Centered Modal-->
<div class="modal fade" id="Form_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Proveedor del Insumo</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!----><input id="ID_Proveedor_Insumo" type="hidden" value="0" /><!---->
                <div class="row g-2">
                    <div class="col-sm-6">
                        <label for="Estado_Proveedor_Insumo" class="form-label">Estado:</label>
                        <select class="form-select" name="Estado_Proveedor_Insumo" id="Estado_Proveedor_Insumo"
                            aria-label="Default select example">
                            <option value="0" selected disabled>Seleccionar</option>
                            <option value="Available">Disponible</option>
                            <option value="Not_Available">No Disponible</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="Nombre_Proveedor_Insumo" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="Nombre_Proveedor_Insumo" placeholder="Nombre"
                            autocomplete="off">
                    </div>
                    <div class="col-sm-6">
                        <label for="Telefono_Proveedor_Insumo" class="form-label">Teléfono:</label>
                        <input type="number" class="form-control" id="Telefono_Proveedor_Insumo" placeholder="Teléfono"
                            autocomplete="off">
                    </div>
                    <div class="col-sm-6">
                        <label for="E_Mail_Proveedor_Insumo" class="form-label">E-Mail:</label>
                        <input type="email" class="form-control" id="E_Mail_Proveedor_Insumo" placeholder="E-Mail"
                            autocomplete="off">
                    </div>
                    <div class="col-sm-12">
                        <label for="Direccion_Proveedor_Insumo" class="form-label">Dirección:</label>
                        <textarea class="form-control" id="Direccion_Proveedor_Insumo" placeholder="Dirección"
                            autocomplete="off"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Procesar()">Procesar</button>
            </div>
        </div>
    </div>
</div>
<!--Vertically Centered Modal-->
@section Java_Script {
    <script>
        var Table_Proveedor_Insumo;
        var Selected_Row;
        // jQuery.ajax({
        //     url: "@Url.Action("Management_Controller_Proveedor_Insumo_Listar", "Management")",
        //     type: "GET",
        //     dataType: "json",
        //     contentType: "application/json; charset=UTF-8",
        //     success: function (data) {
        //         /*Good 'console.log'*/console.log(data);
        //     }
        // });

        $(document).ready(function () {
            Table_Proveedor_Insumo = $("#Table_Proveedor_Insumo").DataTable({
                fnDrawCallback: function () {
                    /**/
                    $(document).ready(function () {
                        $(".Pop_Trigger").popover({
                            trigger: "hover focus",
                            animation: true
                        });
                    });
                    /**/
                },
                responsive: true,
                ordering: false,
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.1.8/i18n/es-MX.json',
                },
                "ajax": {
                    url: "@Url.Action("Management_Controller_Proveedor_Insumo_Listar", "Management")",
                    type: "GET",
                    dataType: "json"
                },
                "columns": [
                    { "data": "iD_Proveedor_Insumo" },
                    {
                        "data": null, "render": function (data, type, row) {
                            return '<a tabindex="' + row.iD_Proveedor_Insumo + '" href="#" class="Pop_Trigger" data-bs-html="true" data-bs-custom-class="custom-popover" data-bs-container="body" data-bs-toggle="popover" data-bs-title="Información" data-bs-content="<p><b>Teléfono:</b> ' + row.telefono_Proveedor_Insumo + '</p><p><b>E-Mail:</b> ' + row.e_Mail_Proveedor_Insumo + '</p><p><b>Dirección:</b> ' + row.direccion_Proveedor_Insumo + '</p>">' + row.nombre_Proveedor_Insumo + '</a>';
                        }
                    },
                    {
                        "data": "estado_Proveedor_Insumo", "render": function (estado_Proveedor_Insumo) {
                            if (estado_Proveedor_Insumo) {
                                return '<span class="badge text-bg-success">Disponible</span>';
                            } else {
                                return '<span class="badge text-bg-danger">No Disponible</span>';
                            }
                        }
                    },
                    {
                        "defaultContent": '<button type="button" class="btn btn-primary btn-sm Edit_Button"><i class="fa-solid fa-pencil"></i></button>' +
                            '<button type="button" class="btn btn-danger btn-sm ms-2 Delete_Button"><i class="fa-solid fa-trash"></i></button>',
                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    }
                ]
            });
        });

        function Open_Form_Modal(data) {
            if (data == null) {
                $("#ID_Proveedor_Insumo").val(0);
                $("#Nombre_Proveedor_Insumo").val("");
                $("#Telefono_Proveedor_Insumo").val("");
                $("#E_Mail_Proveedor_Insumo").val("");
                $("#Direccion_Proveedor_Insumo").val("");
                $("#Estado_Proveedor_Insumo").val(0);
            } else {
                if (data != null) {
                    $("#ID_Proveedor_Insumo").val(data.iD_Proveedor_Insumo);
                    $("#Nombre_Proveedor_Insumo").val(data.nombre_Proveedor_Insumo);
                    $("#Telefono_Proveedor_Insumo").val(data.telefono_Proveedor_Insumo);
                    $("#E_Mail_Proveedor_Insumo").val(data.e_Mail_Proveedor_Insumo);
                    $("#Direccion_Proveedor_Insumo").val(data.direccion_Proveedor_Insumo);
                    $("#Estado_Proveedor_Insumo").val(data.estado_Proveedor_Insumo == true ? "Available" : "Not_Available");
                }
            }
            $("#Form_Modal").modal("show");
        }

        function Selected_Row_Function(data) {
            var Selected_Row = $(data).parents("tr"); // Obtener la Fila Actual.
            if (Selected_Row.hasClass("child")) { // Compruebe si la Fila Actual es una Fila Secundaria.
                Selected_Row = Selected_Row.prev(); // Si es así, Señale la Fila Anterior. (It's "parent")
            }
            return Selected_Row;
        }

        $("#Table_Proveedor_Insumo").on("click", '.Edit_Button', function () {
            Selected_Row = Selected_Row_Function(this);
            /**/
            var data = Table_Proveedor_Insumo.row(Selected_Row).data();
            /**/
            // /*Good 'console.log'*/console.log(data);
            /**/
            Open_Form_Modal(data);
        });

        $("#Table_Proveedor_Insumo").on("click", '.Delete_Button', function () {
            Selected_Row = Selected_Row_Function(this);
            /**/
            var data = Table_Proveedor_Insumo.row(Selected_Row).data();
            /**/
            Swal.fire({
                title: "Confirmación",
                text: "¿Desea Eliminar al Proveedor Seleccionado?",
                icon: "warning",
                showCancelButton: true,
                cancelButtonText: "Cancelar",
                cancelButtonColor: "#FF0000",
                confirmButtonText: "Eliminar",
                confirmButtonColor: "#3085D6"
            }).then((result) => {
                if (result.isConfirmed) {
                    jQuery.ajax({
                        url: "@Url.Action("Management_Controller_Proveedor_Insumo_Eliminar", "Management")",
                        type: "DELETE",
                        data: { ID_Proveedor_Insumo: data.iD_Proveedor_Insumo },
                        success: function (data) {

                            // debugger;

                            if (data.result) {
                                Swal.fire({
                                    title: "Correcto",
                                    text: "El Proveedor ha sido Eliminado",
                                    icon: "success"
                                });
                                Table_Proveedor_Insumo.row(Selected_Row).remove().draw();
                            } else {
                                Swal.fire({
                                    title: "Error",
                                    text: data.message,
                                    icon: "error"
                                });
                                // alert(data.message);
                            }
                        },
                        error: function (error) {
                            alert(error);
                        }
                    });
                }
            });
            // /*Good 'console.log'*/console.log(data);
        });

        function Procesar() {
            var Estado_Proveedor_Insumo_Selection = $("#Estado_Proveedor_Insumo option:selected").text();

            var Proveedor = {
                iD_Proveedor_Insumo: $("#ID_Proveedor_Insumo").val(),
                nombre_Proveedor_Insumo: $("#Nombre_Proveedor_Insumo").val(),
                telefono_Proveedor_Insumo: $("#Telefono_Proveedor_Insumo").val(),
                e_Mail_Proveedor_Insumo: $("#E_Mail_Proveedor_Insumo").val(),
                direccion_Proveedor_Insumo: $("#Direccion_Proveedor_Insumo").val(),
                estado_Proveedor_Insumo: $("#Estado_Proveedor_Insumo").val() == "Available" ? true : false
            };

            if (Estado_Proveedor_Insumo_Selection == "Seleccionar") {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": true,
                    "positionClass": "toast-bottom-center",
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr["warning"]("Campo Requerido: Estado del Proveedor del Insumo", "Advertencia:");
            } else {
                if ($("#ID_Proveedor_Insumo").val() == 0) {
                    jQuery.ajax({
                        url: "@Url.Action("Management_Controller_Proveedor_Insumo_Registrar", "Management")",
                        type: "POST",
                        data: { Obj_Class_Entity_Proveedor_Insumo: Proveedor },
                        success: function (data) {

                            // debugger;

                            $(".modal-body").LoadingOverlay("hide");

                            if (data.result != 0) {
                                Proveedor.iD_Proveedor_Insumo = data.result;
                                Table_Proveedor_Insumo.row.add(Proveedor).draw(false);
                                $("#Form_Modal").modal("hide");
                            } else {
                                toastr.options = {
                                    "closeButton": true,
                                    "debug": false,
                                    "newestOnTop": true,
                                    "progressBar": true,
                                    "positionClass": "toast-bottom-center",
                                    "preventDuplicates": true,
                                    "onclick": null,
                                    "showDuration": "300",
                                    "hideDuration": "1000",
                                    "timeOut": "5000",
                                    "extendedTimeOut": "1000",
                                    "showEasing": "swing",
                                    "hideEasing": "linear",
                                    "showMethod": "fadeIn",
                                    "hideMethod": "fadeOut"
                                }
                                toastr["warning"](data.message, "Advertencia:");
                            }
                        },
                        error: function (error) {
                            $(".modal-body").LoadingOverlay("hide");
                            alert(error);
                        },
                        beforeSend: function () {
                            $(".modal-body").LoadingOverlay("show", {
                                background: "rgba(0, 0, 0, 0.5)",
                                image: "../img/clock-regular.svg",
                                imageAnimation: "1.5s fadein",
                                imageAutoResize: true,
                                imageResizeFactor: 1,
                                imageColor: "rgb(255, 205, 0)"
                            });
                        }
                    });
                } else {
                    if ($("#ID_Proveedor_Insumo").val() != 0) {
                        jQuery.ajax({
                            url: "@Url.Action("Management_Controller_Proveedor_Insumo_Editar", "Management")",
                            type: "PUT",
                            data: { Obj_Class_Entity_Proveedor_Insumo: Proveedor },
                            success: function (data) {

                                // debugger;

                                $(".modal-body").LoadingOverlay("hide");

                                if (data.result) {
                                    Table_Proveedor_Insumo.row(Selected_Row).data(Proveedor).draw(false);
                                    Selected_Row = null;
                                    $("#Form_Modal").modal("hide");
                                } else {
                                    toastr.options = {
                                        "closeButton": true,
                                        "debug": false,
                                        "newestOnTop": true,
                                        "progressBar": true,
                                        "positionClass": "toast-bottom-center",
                                        "preventDuplicates": true,
                                        "onclick": null,
                                        "showDuration": "300",
                                        "hideDuration": "1000",
                                        "timeOut": "5000",
                                        "extendedTimeOut": "1000",
                                        "showEasing": "swing",
                                        "hideEasing": "linear",
                                        "showMethod": "fadeIn",
                                        "hideMethod": "fadeOut"
                                    }
                                    toastr["warning"](data.message, "Advertencia:");
                                }
                            },
                            error: function (error) {
                                $(".modal-body").LoadingOverlay("hide");
                                alert(error);
                            },
                            beforeSend: function () {
                                $(".modal-body").LoadingOverlay("show", {
                                    background: "rgba(0, 0, 0, 0.5)",
                                    image: "../img/clock-regular.svg",
                                    imageAnimation: "1.5s fadein",
                                    imageAutoResize: true,
                                    imageResizeFactor: 1,
                                    imageColor: "rgb(255, 205, 0)"
                                });
                            }
                        });
                    }
                }
            }
        }
    </script>
}